@{
    ViewData["Title"] = "Publish Page";
}

<div class="jumbotron">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="Index" asp-controller="Publish" method="POST">
            <div class="form-group">
                <label class="control-label">Message</label>
                <input type="text" name="message" class="form-control">
            </div>
            <button class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
</div>